<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicons for Android, iPhone and others -->
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="/img/favicons/favicon.ico">
    <link rel="shortcut icon" href="/img/favicons/favicon.ico">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/img/favicons/favicon.ico">
    <link rel="icon" type="image/x-icon" href="/img/favicons/favicon.ico">
    <link rel="icon" href="/img/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/favicon-57.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/img/favicons/favicon-57.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/favicon-120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/favicon-144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/favicon-152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/img/favicons/favicon-167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/favicon-180.png">
    <link rel="icon" sizes="192x192" href="/img/favicons/favicon-192.png">
    <link rel="icon" sizes="196x196" href="/img/favicons/favicon-196.png">
    <link rel="icon" sizes="512x512" href="/img/favicons/favicon-512.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/img/favicons/favicon-128.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32.png">
    <!-- iOS Settings -->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="#4bafaf">
    <!-- Favicon for Windows 8 Tile | Windows 8 IE 10 -->
    <meta name="application-name" content="Norse Mythology - නෝර්වීජියානු මිත්‍යා කතා">
    <meta name="msapplication-tooltip" content="Norse Mythology - නෝර්වීජියානු මිත්‍යා කතා, සුද්ද සිංහලෙන් කියවන්න">
    <meta name="msapplication-TileImage" content="/img/favicons/favicon-144.png">
    <meta name="msapplication-TileColor" content="#4bafaf">
    <meta name="theme-color" content="#4bafaf">
    <meta name="msapplication-navbutton-color" content="#4bafaf">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css">
    <title><%= title %> - Dashboard</title>
</head>
<body>
    
    <header>
        <div class="left">
            <div class="logo">
                <img src="/img/favicons/favicon-512.png" alt="logo">
                <i class="material-icons menu-icon">menu</i>
            </div>
            <div class="search">
                <form action="" method="">
                    <label for="search">
                        <div><i class="material-icons">search</i></div>
                        <input type="search" name="search" id="search" placeholder="Search for...">
                    </label>
                    <ul class="search-result">
                        <li>
                            <a href="#">
                                <h5>Heading #1</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h5>Heading #1</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h5>Heading #1</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h5>Heading #1</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="right">
            <div class="icons">
                <div>
                    <i data-toggle="#notificationsList" id="bellIcon" class="dropdown-btn alert-dot material-icons">notifications</i>
                    <ul id="notificationsList" class="notifications-list">
                        <li>
                            <a href="#">
                                <h5>Heading #1</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h5>Heading #1</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h5>Heading #1</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h5>Heading #1</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="user">
                <div>
                    <div class="user-details">
                        <div class="name">
                            <h2><%= name %></h2>
                            <p>Administrator</p>
                        </div>
                        <div class="avatar">
                            <img class="dropdown-btn" data-toggle="#dropdownUser" src="/img/avatar.jpg" alt="avatar">
                        </div>
                    </div>
                    <ul id="dropdownUser">
                        <li><a href="#">Link #1</a></li>
                        <li><a href="#">Link #2</a></li>
                        <li><a href="#">Link #3</a></li>
                        <li><a href="#">Notification <span>9+</span></a></li>
                        <li>
                            <a href="#">
                                Dark Mode
                                <label class="toggle-switch">
                                    <input type="checkbox" id="darkModeToggle">
                                    <span class="slider"></span>
                                </label>
                            </a>
                        </li>
                        <li>&nbsp;</li>
                        <li><form action="/logout?_method=DELETE" method="post"><button type="submit">Logout</button></form></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <aside class="sidemenu">

        <div>
            <div>
                <ul class="top">
                    <li><h2>General</h2></li>
                    <li class="active"><a href="#"><i class="material-icons">dashboard</i><span>Dashboard</span></a></li>
                    <li>
                        <a href="#" class="accordion"><i class="material-icons">inventory_2</i><span>Article</span></a>
                        <ul>
                            <li><a href="/article/new"><i class="material-icons">save</i><span>Add</span></a></li>
                            <li><a href="#"><i class="material-icons">view_headline</i><span>View</span></a></li>
                            <li><a href="#"><i class="material-icons">edit</i><span>Update</span></a></li>
                            <li><a href="#"><i class="material-icons">delete</i><span>Delete</span></a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="material-icons">post_add</i><span>Post</span></a></li>
                    <li><a href="#"><i class="material-icons">person_search</i><span>Client</span></a></li>
                    <li>
                        <a href="#" class="accordion"><i class="material-icons">person</i><span>User</span></a>
                        <ul>
                            <li><a href="/admin/user/add"><i class="material-icons">save</i><span>Add</span></a></li>
                            <li><a href="#"><i class="material-icons">view_headline</i><span>View</span></a></li>
                            <li><a href="#"><i class="material-icons">edit</i><span>Update</span></a></li>
                            <li><a href="#"><i class="material-icons">delete</i><span>Delete</span></a></li>
                        </ul>
                    </li>
                </ul>
                <hr>
                <ul>
                    <li><h2>Special</h2></li>
                    <li><a href="#"><i class="material-icons">publish</i><span>Published</span></a></li>
                </ul>
            </div>
            <div>
                <hr>
                <ul>
                    <li><a href="#"><i class="material-icons">settings</i><span>Settings</span></a></li>
                </ul>
            </div>
        </div>
        
    </aside>

    <main>
        <%- body %>
    </main>

    <footer></footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/admin.js" defer></script>

</body>
</html>