
<% if (messages.error) { %>
<%= messages.error %>
<% } %>
<div class="container center-item">
    <form action="/login" method="post" class="login-wrapper">
        <div class="input-box">
            <input type="email" name="email" id="username" class="input" required>
            <label for="">Email</label>
        </div>
        <div class="input-box">
            <input type="password" name="password" id="password" class="input" required>
            <label for="">Password</label>
            <span class="material-icons showPW" data-target="#password">visibility_off</span>
        </div>
        <div class="input-box button">
            <button type="submit" id="loginBtn">Log in</button>
        </div>
    </form>
</div>
