html[data-theme=light] {
  --clr-light: floralwhite;
  --clr-dark: #1c1c1c;
  --clr-main: #4bafaf;
  --clr-primary: teal;
  --clr-secondary: #003133;
  --clr-accent: #ffe6d1;
  --clr-gray: #a6a6a6;
  --clr-neutral: rgba(28, 28, 28, 0.4);
  --foreground: var(--clr-dark);
  --background: var(--clr-light);
  --ff-material-icons: "Material Icons Outlined";
}

html[data-theme=dark] {
  --clr-light: floralwhite;
  --clr-dark: #1c1c1c;
  --clr-main: #4bafaf;
  --clr-primary: teal;
  --clr-secondary: #003133;
  --clr-accent: #ffe6d1;
  --clr-gray: #a6a6a6;
  --clr-neutral: rgba(255, 250, 240, 0.4);
  --foreground: var(--clr-light);
  --background: var(--clr-dark);
  --ff-material-icons: "Material Icons Outlined";
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Nirmala-UI";
  src: url("../font/Nirmala-UI.eot");
  /* IE9 Compat Modes */
  src: url("../font/Nirmala-UI.eot?#iefix") format("embedded-opentype"), url("../font/Nirmala-UI.woff2") format("woff2"), url("../font/Nirmala-UI.woff") format("woff"), url("../font/Nirmala-UI.ttf") format("truetype"), url("../font/Nirmala-UI.otf") format("opentype"), url("../font/Nirmala-UI.svg#NirmalaUI") format("svg");
  /* Legacy iOS */
  font-weight: 100;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans Sinhala", "Nirmala-UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.intro-title {
  font-size: 14vw;
  margin-bottom: 0.5em;
  font-weight: 700;
  color: var(--foreground);
  text-shadow: 0px 0px 12px var(--background);
}
@media only screen and (min-width: 576px) {
  .intro-title {
    font-size: 6em;
  }
}

::-moz-selection {
  background-color: var(--clr-main);
}

::selection {
  background-color: var(--clr-main);
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
}

.intro-btn {
  font-size: 6vw;
  text-decoration: none;
  color: var(--clr-dark);
  background-color: var(--clr-main);
  padding: 0.5em 0.75em;
  border-radius: 7vw;
  outline: 1px solid var(--clr-dark);
  transition: box-shadow 200ms ease-out;
}
@media only screen and (min-width: 576px) {
  .intro-btn {
    font-size: 2em;
  }
}
.intro-btn:hover, .intro-btn:focus {
  box-shadow: 0 0 12px 4px rgba(28, 28, 28, 0.4);
}

.go-back-btn {
  border: none;
  text-decoration: none;
  font-size: 1em;
  background-color: var(--foreground);
  color: var(--background);
  padding: 0.375em 0.75em;
  border-radius: 0.25em;
  font-weight: 600;
  transition: all 200ms ease-out;
}
.go-back-btn:hover, .go-back-btn:active, .go-back-btn:focus {
  background-color: var(--clr-gray);
}

.change-theme {
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 2em;
  height: 2em;
  z-index: 100;
}
@media only screen and (min-width: 768px) {
  .change-theme {
    bottom: 2em;
    right: 2em;
    width: 3em;
    height: 3em;
  }
}

.toggle-switch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--clr-main);
  transition: box-shadow 200ms ease-out;
}
.toggle-switch:hover {
  cursor: pointer;
}
.toggle-switch:hover, .toggle-switch:focus {
  box-shadow: 0 0 12px 4px rgba(28, 28, 28, 0.4);
}

#darkModeToggle {
  width: 0;
  height: 0;
  opacity: 0;
}

.theme-icon::after {
  content: "\e51c";
  font-family: "Material Icons Outlined";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--clr-secondary);
}
@media only screen and (min-width: 768px) {
  .theme-icon::after {
    font-size: 1.7em;
  }
}

#darkModeToggle:checked + .theme-icon::after {
  content: "\e518";
}

.article {
  margin-top: 2em;
  margin-bottom: 2em;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.article h1 {
  font-size: 1.7em;
  margin-bottom: 0.5em;
}
@media only screen and (min-width: 576px) {
  .article {
    column-count: 2;
    column-gap: 2em;
  }
}
.article > * {
  line-height: 1.6;
}
.article p {
  font-size: 1em;
  margin-bottom: 1em;
}
.article figure {
  margin: 1em 0;
}
.article figcaption {
  padding-top: 0.5em;
  opacity: 0.7;
  font-weight: 700;
  font-style: italic;
}

/**
* 
* All the home page related styles
* 
*/
.intro {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to top, var(--background), transparent), url(../img/mauricio-carrasco-nordic-giant.webp) center/cover no-repeat;
  position: relative;
}
@media only screen and (min-width: 992px) {
  .intro {
    background: linear-gradient(to top, var(--background), transparent), url(../img/sloto-paint-viking-24-backs-213.webp) center/cover no-repeat;
  }
}
@media only screen and (min-width: 1200px) {
  .intro {
    background: linear-gradient(to top, var(--background), transparent), url(../img/deiv-calviz-david-villegas-viking-deiv-calviz.webp) center/cover no-repeat;
  }
}
@media only screen and (min-width: 1400px) {
  .intro {
    background: linear-gradient(to top, var(--background), transparent), url(../img/artforgame-gamedesign-background.webp) center/cover no-repeat;
  }
}
.intro-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.pattern {
  position: absolute;
  top: 1em;
  left: 0;
  width: 100%;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pattern-icon {
  height: 100%;
}
.pattern-icon img {
  height: 100%;
  padding: 0 0.5em;
  padding-inline: 0.5em;
}
.pattern-line {
  flex: 1 1 40%;
  width: 100%;
  height: 80%;
  background-image: url(../img/nordic-pattern.svg);
  background-repeat: repeat-x;
  background-position: left center;
  background-size: contain;
}
.pattern-right {
  background-position: right center;
}

.index {
  margin-top: 3em;
}
.index-title {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}
@media only screen and (min-width: 576px) {
  .index-title {
    font-size: 3em;
  }
}
.index-headings {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-inline: auto;
}
@media only screen and (min-width: 576px) {
  .index-headings {
    width: 75%;
  }
}
.index ol {
  padding-left: 1.2em;
  counter-reset: list-item;
}
.index ol > li::marker {
  counter-increment: list-item;
  content: counters(list-item, ".") ". ";
  color: var(--clr-gray);
}
.index ul {
  list-style-position: outside;
}
.index .chapter-title {
  font-weight: 600;
}
.index .main-heading {
  font-weight: 700;
}
.index .sub-headings {
  margin-top: 0.75em;
}
.index ol ul.sub-headings {
  counter-reset: list-item;
}
.index ol ul.sub-headings > li::marker {
  counter-increment: list-item;
  content: counters(list-item, ".") ". ";
  font-size: 0.75em;
  color: var(--clr-gray);
}
.index ul.sub-headings > .deep-headings {
  counter-reset: list-item;
}
.index .deep-headings > li::marker {
  counter-increment: list-item;
  content: counters(list-item, ".") ". ";
  font-size: 0.75em;
  color: var(--clr-gray);
}
.index li {
  margin-bottom: 0.75em;
}
.index ol {
  font-size: 1em;
}
@media only screen and (min-width: 576px) {
  .index ol {
    font-size: 1.5em;
  }
}
.index ol ul {
  font-size: 0.9em;
}
.index a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted var(--clr-neutral);
  padding-bottom: 2px;
  transition: color 200ms ease-in;
}
.index a:hover, .index a:focus {
  color: var(--clr-primary);
  border-color: var(--clr-primary);
}

.line {
  width: 100%;
  display: flex;
  justify-content: center;
}
.line svg {
  max-width: 1000px;
}

.err-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
}
.err-404__image {
  max-width: 176px;
}

.container {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  margin-inline: auto;
  max-width: 1200px;
}

.center-item {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*# sourceMappingURL=style.css.map */
