
::-moz-selection {
    background-color: var(--clr-main);
}

::selection {
    background-color: var(--clr-main);
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: var(--background);
    color: var(--foreground);
}
