
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

@font-face {
    font-family: "Nirmala-UI";
    src: url("../font/Nirmala-UI.woff2") format("woff2"),
        url("../font/Nirmala-UI.woff") format("woff");
    font-weight: 100;
}

.intro-title {
    font-size: 14vw;
    margin-bottom: .5em;
    font-weight: 700;
    color: var(--foreground);
    text-shadow: 0px 0px 12px var(--background);
    
    @include mq('sm') {
        font-size: 6em;
    }
}
