
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

@use "sass:color";

/**
* 
* All the home page related styles
* 
*/

.intro {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to top, var(--background), transparent), url(../img/mauricio-carrasco-nordic-giant.webp) center / cover no-repeat;
    position: relative;
    
    @include mq('lg') {
        background: linear-gradient(to top, var(--background), transparent), url(../img/sloto-paint-viking-24-backs-213.webp) center / cover no-repeat;
    }
    
    @include mq('xl') {
        background: linear-gradient(to top, var(--background), transparent), url(../img/deiv-calviz-david-villegas-viking-deiv-calviz.webp) center / cover no-repeat;
    }
    
    @include mq('2xl') {
        background: linear-gradient(to top, var(--background), transparent), url(../img/artforgame-gamedesign-background.webp) center / cover no-repeat;
    }

    &-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.pattern {
    position: absolute;
    top: 1em;
    left: 0;
    width: 100%;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-icon {
        height: 100%;

        img {
            height: 100%;
            padding: 0 .5em;
            padding-inline: .5em;
        }
    }

    &-line {
        flex: 1 1 40%;
        width: 100%;
        height: 80%;
        background-image: url(../img/nordic-pattern.svg);
        background-repeat: repeat-x;
        background-position: left center;
        background-size: contain;
    }

    &-right {
        background-position: right center;
    }
}

.index {
    margin-top: 3em;
    
    &-title {
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: center;
        
        @include mq('sm') {
            font-size: 3em;
        }
    }
    
    &-headings {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-inline: auto;

        @include mq('sm') {
            width: 75%;
        }
    }

    ol {
        padding-left: 1.2em;
        counter-reset: list-item;
    }

    ol > li::marker {
        counter-increment: list-item;
        content: counters(list-item, '.') ". ";
        color: var(--clr-gray);
    }

    ul {
        list-style-position: outside;
    }

    .chapter-title {
        font-weight: 600;
    }

    .main-heading {
        font-weight: 700;
    }

    .sub-headings {
        margin-top: .75em;
    }
    
    ol ul.sub-headings {
        counter-reset: list-item;
    }
    
    ol ul.sub-headings > li::marker {
        counter-increment: list-item;
        content: counters(list-item, '.') ". ";
        font-size: 0.75em;
        color: var(--clr-gray);
    }
    
    ul.sub-headings > .deep-headings {
        counter-reset: list-item;
    }
    
    .deep-headings > li::marker {
        counter-increment: list-item;
        content: counters(list-item, '.') ". ";
        font-size: 0.75em;
        color: var(--clr-gray);
    }

    li {
        margin-bottom: .75em;
    }

    ol {
        font-size: 1em;
        
        @include mq('sm') {
            font-size: 1.5em;
        }
    }

    ol ul {
        font-size: .9em;
    }

    a {
        color: inherit;
        text-decoration: none;
        border-bottom: 1px dotted var(--clr-neutral);
        padding-bottom: 2px;
        transition: color 200ms ease-in;
    }

    a:active, a:hover, a:focus {
        color: var(--clr-primary);
        border-color: var(--clr-primary);
    }
}

.line {
    width: 100%;
    display: flex;
    justify-content: center;

    svg {
        max-width: 1000px;
    }
}

.before-foo {
    position: relative;
}

.foo {
    margin-top: 6em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;

    @include mq('lg') {
        flex-direction: row;
        align-items: center;

        > * {
            flex-basis: calc(33.3% - calc(calc(2em * 2) / 3));
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;

        @include mq('lg') {
            align-items: flex-start;
            gap: 1em;
        }
    }

    &__cpy {
        color: var(--clr-gray);
    }

    &__logo {
        max-width: 224px;
    }

    &__social-links {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    &__social-link {
        width: 40px;
        height: 40px;
    }
    
    &__social-link a {
        text-decoration: none;
    }
    
    &__social-link a svg {
        transition: all 200ms ease;
        fill: var(--clr-gray);
    }
    
    &__social-link a:active svg,
    &__social-link a:hover svg,
    &__social-link a:focus svg {
        fill: var(--clr-primary);
    }

    &__disclaimer-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    &__disclaimer a {
        color: var(--clr-gray);
        text-decoration: none;
        border-bottom: 1px dotted var(--clr-gray);
        padding-bottom: 2px;
        transition: color 200ms ease-in;
    }
    
    &__disclaimer a:active,
    &__disclaimer a:hover,
    &__disclaimer a:focus {
        color: var(--clr-primary);
        border-color: var(--clr-primary);
    }
}