
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

@use "sass:color";

.login-wrapper {
    max-width: 380px;
    width: 100%;    
}

.input-box {
    position: relative;
    height: 3em;
    margin: 1.5em 0;

    &--textarea {
        height: max-content;
    }

    input, select, button, textarea {
        outline: none;
        width: 100%;
        height: 100%;
        font-size: 1em;
        font-weight: 500;
        padding: 0 .75em;
        border-radius: .375em;
        color: var(--foreground);
    }
    
    input, select, textarea {
        background-color: var(--background);
        border: 2px solid var(--clr-gray);
        transition: border-color 200ms ease;

        &:focus,
        &:valid {
            border-color: var(--clr-primary);
        }
        
        &:focus ~ label,
        &:valid ~ label {
            color: var(--clr-primary);
        }
    }

    button {
        border: none;
        background-color: var(--clr-primary);
        transition: all 200ms ease;
        cursor: pointer;
        
        &:hover {
            background-color: var(--clr-secondary);
        }
    }

    label, span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: var(--clr-gray);
    }

    label {
        top: 0;
        left: 1.125em;
        font-size: 1em;
        pointer-events: none;
        font-weight: 400;
        font-size: .75em;
        transition: all 200ms ease;
        background-color: var(--background);
        padding: 0 .375em;
    }

    span {
        right: .75em;
        cursor: pointer;
    }
}

