
@use 'abstracts/variables';
@use 'abstracts/mixins' as mx;

@use './base/reset';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html[data-theme='light'] {
    --clr-light: #ffffff;
    --clr-dark: #00332a;
    --clr-primary: #ff4b2b;
    --clr-secondary: #ff416c;
    --clr-accent: #ED213A;

    --foreground: var(--clr-dark);
    --background: var(--clr-light);
}

html[data-theme='dark'] {
    --clr-light: #b5b5b5;
    --clr-dark: #333333;
    --clr-primary: #004e92;
    --clr-secondary: #000428;
    --clr-accent: #1b1b1b;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);
}

body {
    background-color: var(--background);
    color: var(--foreground);
}

// <header>

header {
    background-color: var(--clr-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--clr-light);
    width: 100%;
    transition: transform 0.2s ease-in-out;
    position: sticky;
    top: 0;
    z-index: 1;
    
    @include mx.mq ('medium') {
        background-color: var(--background);
        width: calc(100% - 250px);
        transform: translateX(250px);
    }

    img {
        height: 100%;
    }
}

header.active {
    transform: translateX(250px);
}

header .left,
header .right {
    display: flex;
    align-items: center;

    @include mx.mq ('medium') {
        > div + div {
            margin-left: 3em;
        }
    }
}

.toggle-switch {
    position: relative;
    width: 48px;
    height: 24px;
    display: inline-block;
    border-radius: 24px;
    
    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: var(--clr-dark);
        }

        &:checked + .slider::before {
            transform: translateX(24px);
        }
    }
    
    .slider {
        border-radius: 24px;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--clr-light);
        transition: all .3s ease;

        &:before {
            position: absolute;
            content: '';
            height: 18px;
            width: 18px;
            left: 3px;
            bottom: 3px;
            background-color: var(--clr-primary);
            transition: all .3s ease;
            border-radius: 50%;
        }
    }
}

header .logo {
    height: 2em;
    margin: 0.75em;

    i {
        font-size: 2em;
        
        @include mx.mq ('medium') {
            display: none;
        }
    }

    i:hover {
        cursor: pointer;

    }

    img {
        display: none;

        @include mx.mq ('medium') {
            display: block;
        }
    }
}

header .icons {
    display: none;

    > div {
        position: relative;

        .notifications-list {
            display: none;
            position: absolute;
            min-width: 16em;
            background-color: var(--clr-primary);
            list-style-type: none;
            position: absolute;
            top: calc(calc(1.2em + calc(0.5em * 2)) + (0.75em * 2));
            left: -6.5em;
            border-radius: 0.5em;
            z-index: 1;

            &::before {
                content: '';
                position: absolute;
                top: (-0.75em * 2);
                left: 7.25em;
                border-style: solid;
                border-width: 0.75em;
                border-color: transparent transparent var(--clr-primary) transparent;
            }

            li a {
                display: block;
                color: var(--clr-light);
            }
            
            li a:hover,
            li a:focus {
                background-color: var(--clr-accent);
            }

            li h5 {
                font-size: 0.9em;
                padding: 0.5em 0.4em 0 0.34em;
            }
            
            li p {
                font-size: 0.7em;
                padding: 0 0.4em 0.5em 0.4em;
            }
            
            li {
                position: relative;
                margin: 1em 0;
            }

            li::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                width: calc(100% - calc(0.4em * 2));
                height: 1px;
                background-color: var(--clr-accent);
                margin: 0.5em 0.4em;
            }

            li:last-child::after {
                display: none;
            }
        }

        .notifications-list.active {
            display: block;
        }
    }
    
    i {
        padding: 0.5em;
        font-size: 1.5em;
        color: var(--foreground);
    }

    .alert-dot {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            top: 0.35em;
            right: 0.35em;
            border-radius: 50%;
            border: 1px solid var(--clr-primary);
            background-color: var(--foreground);

            @include mx.mq ('medium') {
                border-color: var(--background);
            }
        }
    }

    i:hover {
        cursor: pointer;
    }

    @include mx.mq ('medium') {
        display: block;
    }
}

header .search {

    form {
        position: relative;

        .search-result {
            display: none;
            position: absolute;
            min-width: 10em;           
            background-color: var(--clr-primary);
            list-style-type: none;
            position: absolute;
            top: calc(2em + 0.75em);
            left: 0;
            right: 0;
            z-index: 1;
            border-bottom-left-radius: 1em;
            border-bottom-right-radius: 1em;

            li a {
                display: block;
                color: var(--clr-light);
            }
            
            li a:hover,
            li a:focus {
                background-color: var(--clr-accent);
            }

            li h5 {
                font-size: 0.9em;
                padding: 0.5em 0.4em 0 0.34em;
            }
            
            li p {
                font-size: 0.7em;
                padding: 0 0.4em 0.5em 0.4em;
            }

            li {
                position: relative;
                margin: 1em 0;
            }

            li::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                width: calc(100% - calc(0.4em * 2));
                height: 1px;
                background-color: var(--clr-accent);
                margin: 0.5em 0.4em;
            }

            li:last-child::after {
                display: none;
            }
        }
    }

    label {
        display: flex;
        align-items: center;
    }

    label > div {
        height: 2em;
        background-color: var(--clr-accent);
        border-top-left-radius: 2em;
        border-bottom-left-radius: 2em;
        display: flex;
        align-items: center;
        
        i {
            padding: 0 0.5em;
            color: var(--clr-light);
            font-size: 1.5em;
        }
    }


    input {
        width: 10em;
        border: 0;
        height: 2em;
        border-top-right-radius: 2em;
        border-bottom-right-radius: 2em;
        color: var(--clr-light);
        background-color: var(--clr-accent);
    }
}

header .user {
    
    > div {
        position: relative;
        
        ul {
            display: none;
            min-width: 10em;
            background-color: var(--clr-primary);
            list-style-type: none;
            position: absolute;
            top: calc(2em + calc(0.75em * 2));
            right: 0;
            z-index: 1;
            
            a {
                color: var(--clr-light);
                display: block;
                padding: 0.75em 0.6em;
            }

            a span {
                padding: 0.25em;
                background-color: var(--clr-light);
                color: var(--clr-accent);
                border-radius: 50%;
                vertical-align: middle;
            }

            a:hover,
            a:focus {
                background-color: var(--clr-accent);
            }
        }
    }

    @include mx.mq ('medium') {
        > div ul li:nth-child(4) {
            display: none;
        }
    }

    > div ul li:nth-last-child(2) {
        position: relative;
        margin-bottom: -0.5em;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - calc(0.4em * 2));
            height: 1px;
            background-color: var(--clr-accent);
            margin: 0 0.4em;
            margin-top: 0.5em;
        }
    }
    
    > div ul.active {
        display: block;
    }
    
    > div ul:focus-within {
        display: block;
    }

    .user-details {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .user-details .name {
        display: none;

        @include mx.mq ('medium') {
            display: block;
        }
    }

    .user-details .name h2 {
        font-size: 0.9em;
        line-height: 1;
        color: var(--foreground);
    }
    
    .user-details .name p {
        font-size: 0.75em;
        color: var(--foreground);
    }
    
    .avatar {
        width: 2em;
        margin: 0.75em;
    }

    img {
        width: 100%;
        border-radius: 50%;
    }

    img:hover {
        cursor: pointer;
    }
}

// End <header>

// <aside>

aside {
    margin: 0;
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: hidden;
    width: 250px;
    height: 100vh;
    background: -webkit-radial-gradient(circle at 0% 80%, var(--clr-secondary), var(--clr-primary));
    background: radial-gradient(circle at 0% 80%, var(--clr-secondary), var(--clr-primary));
    color: var(--clr-light);
    transition: transform 0.2s ease-in-out;
    z-index: 1;

    @include mx.mq ('medium') {
        transform: translateX(0px);
    }

    > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

aside > div > div hr {
    border: none;
    height: 1px;
    width: calc(100% - calc(0.75em * 2));
    margin-inline: auto;
    color: var(--clr-accent);
    background-color: var(--clr-accent);
}

aside.active {
    transform: translateX(0px);
}

aside ul {
    list-style-type: none;
}

aside ul li {
    margin: 0.5em 0;
}

aside ul li h2 {
    margin-top: 0.75em;
    padding-left: 0.5em;
}

aside ul li > ul {
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: max-height 0.2s ease-out;
}

aside ul li > ul li {
    margin: 0;
}

aside ul li > ul li a {
    padding-left: 2em;
    font-size: 0.9em;
}

aside ul a {
    color: var(--clr-light);
    display: flex;
    padding: 0.6em 0.75em;
    align-items: center;
}

aside ul a i {
    width: 1.6em;
    display: inline-block;
}

aside ul a span {
    display: inline-block;
}

aside ul li.active a {
    background-color: var(--clr-accent);
}

aside ul a:hover {
    background-color: var(--clr-accent);
}

// End <aside>

// <main>

main {
    width: 100%;
    transition: transform 0.2s ease-in-out;

    @include mx.mq ('medium') {
        transform: translateX(250px);
    }
}

main.active {
    transform: translateX(250px);
}

main section {
    margin: 1.5em;
}

section .heading {
    position: relative;
}

.heading h1 {
    padding-right: 0.43em;
    background-color: var(--background);
    display: inline-block;
}

.heading:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 55%;
    z-index: -1;
    background-color: var(--clr-accent);
}

